
* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#E8E0E0;
   
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: aliceblue;
    
}

.header {
    
    padding-top: 64px;
    padding-bottom: 10px;
}

.nav-wrapper {
    display: flex;
    margin-bottom: 20px;
}
.container-wide {
    margin: 0 auto;
    width: 1490px;
    padding: 0 15px;

}


.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 
}

.row{
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0%;
    list-style: none;
    font-family: 'Merriweather Sans';
    font-weight: 500;
    font-size: 20px;

}

.nav li + li{
    margin-left: 50px;

}

.nav a {
    color:black;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.nav a:hover{
    color:#A71300;
    
    
}


.account {
   
    font-size: 20px;
    font-family: 'Merriweather Sans';
    font-weight: 500;;
    text-decoration: none;
    color:black;
    margin-left: 30px;
    transition: color 0.2s ease-in;
}

.account:hover{
    color: #A71300;
    
}

.nav-button{
    position: relative;
    z-index: 9;
    background-color:#ab9100;
    width: 42px;
    height: 5px;
    border: none;
    cursor: pointer;
    display: none;

}

.nav-button::before{
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 42px;
    height: 5px;
    background-color: #ab9100;
}
.nav-button::after{
    position: absolute;
    left: 0;
    bottom: -10px;
    content: "";
    display: block;
    width: 42px;
    height: 5px;
    background-color: #ab9100;
}
.mobile-nav{
    z-index: 8;
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content:space-between ;
    padding: 70px 70px 50px 30px;
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #ffffffd2;

}

.mobile-nav  .nav,
.mobile-nav .account
{
    display: block;
}

.mobile-nav .nav ul{
    flex-direction: column;
}

.mobile-nav .nav ul li{
    margin: 0;
    margin-bottom: 25px;
}


.account {
   
    font-size: 20px;
    font-family: 'Merriweather Sans';
    font-weight: 500;;
    text-decoration: none;
    color:black;
    margin-left: 30px;
    transition: color 0.2s ease-in;
}

.account:hover{
    color: #A71300;
    }


/*map*/

.section{
    padding: 80px 0;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.secton-header{
  
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;
    
}

.section-sub{
    font-family: 'Merriweather Sans';
    font-size: 35px;
    color: #ab9100;
}

.section-title{
    font-family: 'Covered By Your Grace';
    font-weight: 400;
    font-size: 25px;
    color: #ab9100;
    text-transform: uppercase;

}

.section-title::after{
    content: "";
    display:block;
    width: 60px;
    height: 3px;
    background-color:#A71300;
    margin: 30px auto 0;
}

.section-text{
    
   
    font-size: 25px;
    margin-bottom: 100px;
}

.section-text a{
    text-decoration: none;
    color: #ab9100;
}

.section-text a:hover{
    color: #A71300;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}



 

       /*footer*/

.footer-container{
    margin-bottom: 60px;
}
footer {
    padding: 30px 20px;
    background: #ab9100;
    color: #050303;
 }
 .footer-col {
    width: 25%;
    float: left;
    font-size: 20px;
    font-family: 'Merriweather Sans';
    font-style: bold;
    
 }
 .footer-col a {
    font-size: 20px;
    font-family: 'Merriweather Sans';
    font-style: bold;
    color: #050303;
    text-decoration: none;
 }

 .footer-col a:hover{
    text-decoration: underline;
    color:#E8E0E0;
 }

 .footer-col:last-child {
    text-align: right;
 }
 .payments {
    text-align: center;
 }
 .payments a {
    padding: 0 7px; 
    
 }



 
